.business-template{
    text-align: left;
   padding: 16px;
}
.business-template .template-title{
    font-size: 32px;
    font-weight: bold;
}
.business-template p{
    font-size: 22px;
}
@media(max-width:420px){
    .business-template{
        display: block;
        width: 100%;
    }
    .business-template .template-title{
        font-size: 24px;
        font-weight: bold;
    }
   
}