.template-card {
  background: linear-gradient(90deg, #9a34ff, #5e50ff);
  border-radius: 16px;
  opacity: 1;
  padding: 16px;
  color: #fff;
  margin: 8px;
}
.template-card .template-title {
  font-size: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.template-card p {
  font-size: 32px;
}
.temp-background {
  background: transparent
    radial-gradient(closest-corner at 28% 68%, #5e00ba 0%, #00091d 100%) 0% 0%
    no-repeat padding-box;
}
.template-card:hover {
  transform: scale(1.05);
}
